body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.spacer {
  height: 20vw; 
  width: 100%;
}


.app {

}
.header {
  background: linear-gradient(to bottom, #0d1117, #161b22);
  width: 100vw;
  height: 48vw; 
  text-align: center;
}

.header-video {
  width: 100vw;
  height: 48vw;
  object-fit: cover;
  opacity: 0.5;
}

.header-image {
  position: absolute; /* Absolute positioning */
  top: 22.5vw; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Align center based on image dimensions */
  z-index: 10; /* Ensure it appears above the video */
  width: 9.44vw; /* Set your desired image size */
  height: auto; /* Maintain aspect ratio */
}

.main-content {
  padding-left: 16%;
  padding-right: 16%;

}

.description h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.description h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #0f9d58;
}

.description p {
  font-size: 1.5rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .description h1 {
    font-size: 3rem;
  }
  .description h2 {
    font-size: 2rem;
  }
  .description p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .description h1 {
    font-size: 2rem;
  }
  .description h2 {
    font-size: 1.5rem;
  }
  .description p {
    font-size: 1rem;
  }
}


.features {
  width: 100%;
}

.features .featureContent {
padding-left: 0.52vw;
padding-right: 0.52vw;

}

.features h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.features h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #0f9d58;
}

.features p {
  font-size: 1.5rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .features h1 {
    font-size: 2rem;
  }
  .features h2 {
    font-size: 1.5rem;
  }
  .features p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .features h1 {
    font-size: 1.5rem;
  }
  .features h2 {
    font-size: 1.2rem;
  }
  .features p {
    font-size: 1rem;
  }
}

.feature {
  display: flex;
  text-align: left;
}

.feature img {
  width: 35vw;
}

.how-to-play h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #0f9d58;
}

.how-to-play p {
  padding-left: 10px;
  font-size: 1.5rem;
  line-height: 1.6;
}

@media (max-width: 768px) {

  .how-to-play h2 {
    font-size: 2rem;
  }
  .how-to-play p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {

  .how-to-play h2 {
    font-size: 1.5rem;
  }
  .how-to-play p {
    font-size: 1rem;
  }
}

.how-to-play .duadanempat {
  padding-left: 10px;
}

.how-to-play img {
width: 3.5vw ;
/* height: 65px; */
}

.numbers {
  display: flex;
  text-align: left;
}

.about h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #0f9d58;
}

.about p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 20px 0;
}

@media (max-width: 768px) {

  .about h2 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {

  .about h2 {
    font-size: 1.5rem;
  }
  .about p {
    font-size: 1rem;
  }
}

.about img {
  width: 12.65vw ;
  padding-left: 0.52vw;
  padding-right: 0.52vw;
  padding-top: 0.52vw;
}

.available-now .store-buttons{
  text-align: center;
  padding-top: 50px;
}

.available-now img {
  width: 38vw ;
  height: 6.7vw ;
}

.available-now h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #0f9d58;
}

.available-now p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 20px 0;
}

@media (max-width: 768px) {

  .available-now h2 {
    font-size: 2rem;
  }
  .available-now p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {

  .available-now h2 {
    font-size: 1.5rem;
  }
  .available-now p {
    font-size: 1rem;
  }
}

